{% if profile == "service" -%}
"""Composition root for the service profile."""

from {{ package_name }}.config import Config
from {{ package_name }}.modules.greeting.adapters.console import ConsoleAdapter
from {{ package_name }}.modules.greeting.application.service import GreetingService


def build_service() -> GreetingService:
    """Wire the application service from configuration."""

    config = Config()
    return GreetingService(config.greeting_prefix)


def build_console() -> ConsoleAdapter:
    """Wire the console adapter to the inward application service."""

    return ConsoleAdapter(build_service())
{% else -%}
"""Composition root for the application profile."""

from {{ package_name }}.config import Config
from {{ package_name }}.modules.greeting.application.service import GreetingService


def build_service() -> GreetingService:
    """Wire the application service from configuration."""

    config = Config()
    return GreetingService(config.greeting_prefix)
{% endif -%}
